body {
    color: cornflowerblue;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.colouringArea {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.square {
    margin: 4px;
}

.hand {
    width: 450px;
}

path:hover {
    stroke: blue;
    fill: red;
}