body {
    font-family: 'Roboto Mono', monospace; 
    display: flex;
    justify-content: center;
}

h1 {
    color: cornflowerblue;
    /* font-size: 6vh; */
    font-size: 460%;

}

/* path:hover {
    stroke: blue;
    fill: red;
} */

.text-div-center {
    max-width: 652px;
    margin-top: 35%;
    text-align: center;
}

#intro-text-div {
    border-style: solid;
    border-color: black;
    border-width: 10px;
}